.cardheader{
    background-color: #f2f3f3;
    height:40px;
    font-size: 14px;
    border:"1px solid #504c4c";
    border-radius: 1% 1% 0% 0%;
}

.optionButton{
    color: #666;
    border-radius: 2.5%;
    display:flex;
}

.optionButton:hover{
    color: #287276;
    cursor: pointer;
    border:"3px solid #287276";
}

.selectedButton{
    color: #287276;
    border-radius: 2.5%;
}

.optionButton:hover{
    color: #287276;
    cursor: pointer;
    border:"3px solid #287276";
}